:root{
    --primary-color: rgb(59 37 8);
    --bg-color: rgb(201, 201, 201);
    --mv:770px;
    --text:white;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    border: none;
    outline: none;
}
body{
    background-color: var(--bg-color);
}
header{
    height: 60px;
    background-color: var(--primary-color);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav{
    width: 100%;
    padding: 0 10%;
    height: 100%;
    font-size: xx-large;
    font-weight: 700;
    font-family: ui-monospace;
    color: var(--text);
    display: flex;
    align-items: center;
}
.light{
    font-weight: lighter;
    font-size: smaller;
    color: rgb(234, 233, 233);
}
.small{
    display: none;
}
.result{
    width: 100%;
    max-width: var(--mv);
    padding: 1rem 3.5rem ;
    
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    background-color: white;
    margin: 12px 0;
    border-radius: 8px;
    padding: 25px 15px;
    width: 85%;
    max-width: var(--mv);
    box-shadow: 8px 8px 14px -2px #000000;
}
form{
    width: 100%;
}

form>input{
    width: 73%;
    height: 40px;
    font-size: x-large;
    padding: 4px 10px;
    border-bottom: 2px solid;
    border-radius: 12px;
}
form>input:focus{
    background-color: e7f0f3;
}

form>button{
    height: 40px;
    border-radius: 50px;
    font-size: x-large;
    padding: 4px 10px;
    box-shadow: 3px 3px 10px 1px black;
    font-weight: bold;
    width: 23.5%;
    margin-left: 6px;
    background-color: var(--primary-color);
    text-transform: capitalize;
    color: var(--text);
    font-weight: bolder;
}
.white-icon {
    filter: invert(100%) brightness(200%);
}
form>button:hover{
    outline: 2px solid white;
}
.output{
    padding: 0 40px;
    width: 100%;
}
.recipeContainer{
    min-height: 100vh;
    padding: 30px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 40px 20px;
}
.card{
    padding: 20px;
    height: 100%;
    max-height: 520px;
    max-width: 430px;
    background-color: white;
    border-radius: 6px;
    box-shadow: 8px 12px 14px -2px #000000;
    transition: transform 0.3s ease; /* Smooth in and out transition */
    /* transform: scale(1); */
}
.card:hover{
    transition: transform 0.3s;
    transform: scale(1.04);
}
.card img{
    width: 100%;
    height: 390px;
    object-fit: cover;
}
.container{
    padding: 12px;
}
.container h4{
    font-size: x-large;
}
.container p{
    font-size: x-large;
}

/* details */
.recipeDescription{
    background-color: white;
    width: 100%;
    max-width: 1250px;
}
.recipeDescription i{
    font-size: xx-large;
    color: red;
    position: absolute;
    right: 80px;
    top: 210px;
    transition: transform .5s ease;
}
.imgAndTitle{
    height: 40vh;
    padding: 2rem;
    background: burlywood;
    display: flex;
}
.imgAndTitle img{
    width:50%;
    max-width: 400px;
    object-fit: fill;
    border-radius: 8px;

    box-shadow: 8px 12px 14px -2px #000000;
}
.imgAndTitle hr{
    height: 100%;
    border: 1px solid;
    margin: 0 16px;
}
.imgAndTitle .title{
    width: 50%;
    font-size: 142%;
    margin: auto;
}
.ingredients{
    padding: 2rem;
    line-height:2;
    padding: 12px;
}
#ingredientsList{
    font-size: 24px;
    line-height: 2;
    padding: 0 3rem;
}

@media only screen and (max-width:530px){
    .small{
        display: block;
    }
    .large{
        display: none;
    }
    header{
        height: 70px;
    }
    nav{
        padding: 0 26px;
        font-size: x-large;
        font-weight: 600;
    }
    .input{
        padding: 14px;
    }
    form>input{
        width: 80%;
        padding: 4px;
        font-size: large;
        border-radius: 8px;
    }
    form>button{
        height: 40px;
        border-radius: 50%;
        width: 40px;
        margin-left: 2px;
    }
    .output{
        padding: 0 8px;
    }
    .recipeContainer{
        padding: 14px;
        gap: 30px 0;
    }
    .card{
        width: 100%;
        padding: 12px;
    }
    .card img{
        width: 100%;
        height: 340px;
        object-fit: cover;
    }
    .container{
        padding: 8px;
    }
    .container h4{
        font-size: large;
    }
    .container p{
        font-size: large;
    }
    /* .ingrediantes{
        padding: .4rem  ;
    } */
    .recipeDescription{
        background-color: white;
        width: 100%;
    }
    .recipeDescription i{
        right: 26px;
        top: 180px;
    }
    .imgAndTitle{
        height: auto;
        padding: 0.2rem;
        /* background: burlywood; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .imgAndTitle img{
        width:70%;
        height: 320px;
        object-fit: cover;
        margin: 8px 0;
    }
    .imgAndTitle hr{
        display: none;
    }
    .imgAndTitle .title{
        padding: 12px 8px;
        width: 80%;
        margin: auto;
    }
    .ingrediantes{
        padding: 2rem;
        line-height:1.5
    }
    #ingredientsList{
        font-size: 18px;
    }
}
/* From Uiverse.io by vinodjangid07 */ 
.loader {
        display: flex;
        justify-content: center;
        margin-top: 100px;
  }
  .loaderMiniContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 130px;
    height: fit-content;
  }
  .barContainer {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
    background-position: left;
  }
  .bar {
    width: 100%;
    height: 8px;
    background: linear-gradient(
      to right,
      rgb(30, 18, 47),
      rgb(217, 190, 255),
      rgb(16, 5, 30)
    );
    background-size: 200% 100%;
    border-radius: 10px;
    animation: bar ease-in-out 3s infinite alternate-reverse;
  }
  @keyframes bar {
    0% {
      background-position: left;
    }
    100% {
      background-position: right;
    }
  }
  .bar2 {
    width: 50%;
  }
  .svgIcon {
    position: absolute;
    left: -25px;
    margin-top: 18px;
    z-index: 2;
    width: 70%;
    animation: search ease-in-out 3s infinite alternate-reverse;
  }
  @keyframes search {
    0% {
      transform: translateX(0%) rotate(70deg);
    }
  
    100% {
      transform: translateX(100px) rotate(10deg);
    }
  }
  .svgIcon circle,
  line {
    stroke: #3b2509;
  }
  .svgIcon circle {
    fill: rgba(98, 65, 142, 0.238);
  }
  